<ion-tabs selectedIndex="2">
	<ion-tab [root]="tab1Root" tabIcon="custom-earning" tabTitle="Accounts"></ion-tab>
	<ion-tab [root]="tab2Root" tabIcon="custom-reports"  tabTitle="Reports"></ion-tab>
	<ion-tab [root]="tab3Root" tabIcon="custom-postings" tabTitle="Dashboard"></ion-tab>
	<ion-tab [root]="tab4Root" tabIcon="custom-profile" tabTitle=" My Profile"></ion-tab>
	<ion-tab [root]="tab5Root" tabIcon="custom-settings" [rootParams]="user_id" tabTitle="Settings"></ion-tab>
</ion-tabs>