
<ion-content class="getstart" padding>
		<ion-col col-3 text-center>
		<div class="logoImg">
			<img src="assets/imgs/scoretify-logo.png">
		</div>
		</ion-col>
		<div class="loginform">
		<form [formGroup]="loginform" (ngSubmit)="logForm()">
		<div class="inputDiv">
		<ion-row>
		<ion-col col-11>
		<ion-item no-lines>
			<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
		</ion-item>
		<ion-col></ion-col>
		</ion-col>
		</ion-row>
		<ion-row>
		<ion-col col-11>
			<ion-item no-lines>
				<ion-input type="password" placeholder="Password" minlength="6" formControlName="password"></ion-input>
			</ion-item>
		</ion-col>
		</ion-row>
		</div>
		<ion-row center>  
 <ion-col text-center col-12>   
 	<ion-col></ion-col>
  <!-- <button ion-button>Search</button>   -->
  <div class="logBtnDiv">
  <button ion-button  round (click)="navToTabpage" class="button button-dark customBtn">Login</button>
</div>
 </ion-col> 
</ion-row>



	<!-- 	<div class="logBtnDiv">
			<button ion-button full round (click)="navToTabpage" class="button button-dark customBtn">Login</button>
		</div> -->
		<div class="labelsDiv">
			<h5 style="color:#c23456;font-size: 14px;font-weight: bold;">Forgot Your Password?</h5>
			<h5 style="color:#616161;font-weight:bold;font-size:14px">Don't have an account? <b style="color:#3ca4d4" (click)="navToSignup()">Signup</b></h5>
			<h5><b style="color:#3ca4d4;font-size:14px" (click)="navToSignup()">Continue as Guest</b></h5>
		</div>
		</form>
		</div>
</ion-content>
