page-login {
	// .getstart{
	// 	background-image: url('/assets/imgs/background.png');
	// 	background-repeat: no-repeat;
	// 	background-size:cover;
	// }
	.item-md{
		border-bottom-right-radius: 100px;
		border-bottom-left-radius: 100px;
		border-top-left-radius: 100px;
		border-top-right-radius: 100px;
	}
	p{
		text-align: center;
	}
	.loginform{
		position: relative;
		top:120px;

	}
	.inputDiv{
		position: relative;
		left: 20px;
    	}
	.logoImg
	{
		position: relative;
		top: 100px;
	}
	.button.customBtn{
    		width:280px;
    		 background-color: #436fbb;
    		
	}
	.logBtnDiv{
		   text-align:center;
	}
	.labelsDiv{
		position: relative;
		top: 20px;
	    	text-align: center;

	}
}
