page-tutor-profile {
	.item-md{
		border-bottom-right-radius: 100px;
		border-bottom-left-radius: 100px;
		border-top-left-radius: 100px;
		border-top-right-radius: 100px;
	}
	.list-md{
		background-color: #f3f3f3;
	}
	.avatarDiv{
		position: relative;
		left: 120px;
	}
	h5{
		font-weight: bold;
		color: black;
		font-size: 16px;
	}
	p{
		    font-size: 12px;
		    font-weight: 600;
	}
	img{
		width: auto;
		margin: auto;
		display: block;
		border-radius: 25px 25px 25px 25px;
	}

}
