<ion-header>
  <ion-navbar color="headblue">
    <ion-title> My Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="getstart" padding>
	<h5>Your Profile</h5>
	<ion-list padding>
			<ion-avatar>
      				<img src="{{profile_data?.user?.picture}}"  style="width: 20%;">
    			</ion-avatar>
    		<ion-row center>  
	 		<ion-col text-center col-12>   
    				<ion-icon name="star"></ion-icon>
      				<ion-icon name="star"></ion-icon>
      				<ion-icon name="star"></ion-icon>
      				<ion-icon name="star"></ion-icon>
      				<ion-icon name="star"></ion-icon>
      			</ion-col>
      		</ion-row>
		<p>Name</p>
		<ion-item>
			<ion-input type="email" placeholder="Email" value="{{profile_data?.userId}}"></ion-input>
		</ion-item>
		<p>About You</p>
		<ion-item>
			<ion-input type="email" placeholder="Email" value="{{profile_data?.user?.name}}"></ion-input>
		</ion-item>
		<p>Phone</p>
		<ion-item>
			<ion-input type="email" placeholder="phone" value="{{profile_data?.pMobile}}"></ion-input>
		</ion-item>
		<p>Accout Type</p>
		<ion-row radio-group>
			<ion-col *ngIf="profile_data?.user?.role === 'student'">
				<ion-item class="studentrad">
				<ion-label>Student</ion-label>
				<ion-radio [checked]="false" [value]="profile_data?.user?.role"></ion-radio>
				</ion-item>
			</ion-col>
			<ion-col *ngIf="profile_data?.user?.role === 'tutor'">
				<ion-item>
				<ion-label>Tutor</ion-label>
				<ion-radio [checked]="true" [value]="profile_data?.user?.role"></ion-radio>
				</ion-item>
			</ion-col>
		</ion-row>
		<p>Billing Address</p>
		<ion-item>
			<ion-input type="email" placeholder="Email" value="{{profile_data?.userId}}"></ion-input>
		</ion-item>
		<p>Preferred Availability</p>
		<ion-row radio-group>
			<ion-col>
				<ion-item class="studentrad">
				<ion-label>Morning</ion-label>
				<ion-radio value="user" [checked]="true"></ion-radio>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item>
				<ion-label>After noon</ion-label>
				<ion-radio value="admin"></ion-radio>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-list>
</ion-content>
