
<ion-content padding class="backgnd">
	  <ion-grid style="height: 100%">
    	<ion-row justify-content-center align-items-center style="height: 100%">
	<ion-card>
	<div class="logoImg">
		<img src="assets/imgs/scoretify-logo.png">
	</div>
	<ion-card-content>
		<div class="contentDiv">
		<h4>
		Tutornomy helps students get their questions answered by professionals and teachers fast!
		Sign to get your questions answered today.
		</h4>
		</div>
		<ion-col col-3>
		<div class="center">
		<button ion-button round (click)="navToSignup()" class="button button-dark customBtn">Sign up</button>
		</div>
		</ion-col>
		<div class="accoutDiv">
			<h5 (click)="navToSignin()" style="text-align: center">Already have an account? <b style="color:#3ca4d4">Sign in</b></h5>
		</div>
		<div class="navlabel">
		<p style="text-align: center"><b style="color:#3ca4d4" (click)="navToSignup()">Continue as Guest</b></p>
		</div>
	</ion-card-content>
	</ion-card>
	</ion-row>
  </ion-grid>
</ion-content>
