page-start-screen {
	.backgnd{
		background-image: url('../assets/imgs/start-screen.png');
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.card-md{
		height:400px;
	}
	.contentDiv{
		position: relative;
		top: 60px;
	}
	
	.logoImg{
		position: relative;
		width: 200px;
		left: 50px;
		top: 50px;
	}
	.accoutDiv{
		position: relative;
		top: 100px;
	}
	.navlabel{
	    position: relative;
	    top: 110px;
    	}
	.button.customBtn{
    		width:150px;
    		 background-color: #436fbb;
	}
	.center{
		position: relative;
	    	top: 80px;
	    	text-align: center;
	}
	h4{
		    line-height: 1.4;
	}
}
