page-student-report {
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	.ion-ios-arrow-forward-outline:before{
		font-size: 1.8rem;
	}
	.item-md h6{
		font-weight: bold;
		color: #000000;
		font-size: 13px;
	}
	.item-md p {
		font-weight: bold;
		color: #6c757d;
		font-size: 12px;
	}
	.item-md ion-icon[item-end] {
		color: #2b4d88;
		font-weight: bold;
	}
}
