page-student-start-session {
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	.item-md {
	   	 padding-left: 30px;
	   	 border-bottom: 1px solid #e8e1e1;
   	}
   	.imgDiv{
		display: inline-flex;
		padding-left: 30px;
	}
	.card-md{
		margin:0px!important;
		    width: calc(100% - 0px);
	}
}

