page-choose-package {
	// .getstart{
	// 	background-image: url('/assets/imgs/background.png');
	// 	background-repeat: no-repeat;
	// 	background-size:cover;
	// }
	.logoImg
	{
		position: relative;
		top: 30px;
		left: 30px
	}
	p{
		text-align:center;

	}
	.item-md p{
		color:black;
		font-size: 1.2rem;
	}
	.selectLabel
	{
		position: relative;
		top: 50px;
		left: 100px;	
	}
	.packageDiv
	{
		position: relative;
		top: 60px;
    	}
    	.saveBtn
    	{
    		position: relative;
    		// top: 10px;
    		display: inline-block;
    		text-align:center;
    	}
    	.button.customBtn{
    		width:250px;
    		 background-color: #436fbb;
	}
	ion-item:hover { 
		background-color: #436fbb !important; 
		p{
			color:#ffffff !important;

		}
	}
	.icon{
		color: white;
		font-size: 1.8rem;
	}
}
