	

<ion-content class="getstart" padding>
	<div class="logoImg">
		<img src="assets/imgs/scoretify-logo.png">
	</div>
	<div class="selectLabel"><h4 style="color:#616161;font-size: 12px;font-weight: bold">Select your package</h4></div>
	<!-- <div class="packageDiv" *ngFor="let plan of plans"> -->
		<!-- <ion-item  [ngStyle]="{'background-color': package}" [(ngModel)]="plantype">
			<ion-radio item-end value={{plan.planName}}></ion-radio>
			<img src="{{plan?.user.picture}}" item-start>
			<h4 item-start>{{plan?.planName}}</h4>
			<p item-end>20 credits-$15</p>
			<p item-end>Ask up to 20 questions</p>
			<p item-end>Ideal for primary level</p>
		</ion-item>
		<ion-col></ion-col> -->
	<div class="packageDiv">
	<ion-list>
		<ion-row *ngFor="let plan of plans;let idx = index" (click)="selectPlan(idx,plan)" [class.selected]="idx === currentSelected">
		<ion-col>
		<ion-item>
			<ion-icon name="custom-checked-white" item-end></ion-icon>	
			<ion-row>
			<ion-col width-70>
				<img src="assets/icon/trial-package-icon.png">
				<p [class.selected]="idx === currentSelected">{{plan?.displayName}}</p>
			</ion-col>
			<ion-col width-70>
				<p [class.selected]="idx === currentSelected">{{plan?.creditPoints}}credits {{plan?.price}}{{plan?.currency}}</p>
				<p [class.selected]="idx === currentSelected">{{plan?.planM1}}</p>
				<p [class.selected]="idx === currentSelected">Ideal for Upper Secondary</p>
			</ion-col>
			</ion-row>

		</ion-item>
		</ion-col>
		</ion-row>
		<ion-col></ion-col>
		</ion-list>
	</div>
	<ion-col col-3 text-center>
	<div  class="center">
		<div class="saveBtn">
		<!-- <button ion-button round full (click)="createPlan()" color="btnblue">Save & Proceed</button> -->
		<button ion-button round (click)="savePlan()" color="btnblue"  class="button button-dark customBtn">Save & Proceed</button>
		</div>

	</div>
	</ion-col>
</ion-content>
