<ion-header>
  <ion-navbar color="headblue">
    <ion-title>Chat</ion-title>
     <ion-buttons end>
      	<button ion-button outline color="danger" (click)="dismissView()">End Session</button> 
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="getstart">
	<ion-card>
		<ion-list>
			<ion-col></ion-col>
			<ion-item>
				<ion-avatar item-start>
					<img src="assets/imgs/Avatar-02.png">
				</ion-avatar>
				<p style="font-size: 10px;font-weight: 700;color: black;">Physics</p>
				<p style="font-size: 10px;font-weight: 700;color: black;">18/9/2018</p>
				<p style="font-size: 10px;font-weight: 700;color: black;">Maths</p>
				<div class="enditem" item-end>
					<p style="font-size: 10px;font-weight: 700;color: #436fbb;">5433432</p>
					<p style="font-size: 10px;font-weight: 700;color: black;">Lower Primary</p>
					<p style="font-size: 10px;font-weight: 700;color: black;">Chapter 2</p>

				</div>
			</ion-item>
			<ion-col></ion-col>
			<h6 style="font-weight: bold;color: black;font-size: 12px;text-align: center;">
				What is the reason for atomic nuclear fission?
			</h6>
			<ion-item>
			<div class="imgDiv">
			<ion-avatar item-start>
				<img src="assets/imgs/final-step-illustration.png">
			</ion-avatar>
			<ion-avatar item-start>
				<img src="assets/imgs/final-step-illustration.png">
			</ion-avatar>
			<ion-avatar item-start>
				<img src="assets/imgs/final-step-illustration.png">
			</ion-avatar>
			<ion-avatar item-start>
				<img src="assets/imgs/final-step-illustration.png">
			</ion-avatar>
			</div>
		</ion-item>	
		<p style="font-size: 12px;font-weight: bold;color:#e13838;text-align: center">File dispute?</p>
		</ion-list>
	</ion-card>
</ion-content>
<ion-footer>
	<ion-toolbar>
	<ion-item>
	 <ion-input type="text" placeholder="Type your response here...."></ion-input>
	 <ion-icon name="custom-attach" item-end></ion-icon>
	 <img src="assets/icon/Send-icon.png" item-end>
	</ion-item>
	</ion-toolbar>
</ion-footer>
