page-finish-session {
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	.tickIcondiv{
		position:absolute;
		left:150px;
		top:100px;
		width:80px;
	}
	.labelDiv{
		position: absolute;
		top: 200px;
		left: 50px;
	}
	.btnDiv{
	    position: relative;
	     top: 220px;
	}
}
