
<ion-header>
  <ion-navbar color="headblue">
    <ion-title>Finish Session</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="getstart" padding>
	<div class="tickIcondiv">
		<img src="assets/imgs/successful.png">
	</div>
	<div class="labelDiv">
		<h6>The session 546446 ended successfully.</h6>
	</div>
	<div class="btnDiv">
		<button ion-button round color="secondary" full>Submit</button>
	</div>
</ion-content>
