<ion-header>
  <ion-navbar color="headblue">
  	<ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="getstart">
<div class="segmentDiv">
	<ion-segment [(ngModel)]="poststatus">
		<ion-segment-button value="requesting">
			Requesting
		</ion-segment-button>
		<ion-segment-button value="progressing">
			Progressing
		</ion-segment-button>
		<ion-segment-button value="finished">
			Finished
		</ion-segment-button>
	</ion-segment>
</div>

<div [ngSwitch]="poststatus">
	<ion-list *ngSwitchCase="'requesting'" padding>
		<div class="addqlabel">
			<a style="color:#436fbb">Add Questions</a>
		</div>
		<h5 style="font-weight: bold;font-size: 16px;">Question & Answers</h5>
		<p style="font-size: 10px;font-weight: 700;">3 Questions</p>
		<ion-item (click)="navToQuerypost()" no-lines>
			<ion-avatar item-start>
				<img src="assets/imgs/Avatar-01.png">
			</ion-avatar>
			<p style="font-size: 10px;font-weight:700;color: black;">Physics</p>
			<p style="font-size: 10px;font-weight:700;color: black;">18/9/2018</p>
			<p item-end style="font-size:10px;font-weight:700;color: #4b7bcc !important;;" item-end>545885</p><br/>
			<p style="font-size:10px;font-weight:700;color: black;" item-end>Lower Primary</p>
				<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>
		<ion-col></ion-col>
		<ion-item (click)="navToQuerypost()">
			<ion-avatar item-start>
				<img src="assets/imgs/Avatar-01.png">
			</ion-avatar>
			<h2>Physics</h2>
			<p>18/9/2018</p>
			<p item-end>Lower Primary</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>
		<ion-col></ion-col>
		<ion-item (click)="navToQuerypost()">
			<ion-avatar item-start>
				<img src="assets/imgs/Avatar-01.png">
			</ion-avatar>
			<h2>Physics</h2>
			<p>18/9/2018</p>
			<p item-end>Lower Primary</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>
	</ion-list>
	<ion-list *ngSwitchCase="'progressing'">
	</ion-list>
	<ion-list *ngSwitchCase="'finished'">
	</ion-list>
</div>
	
</ion-content>
<ion-footer>
	<!-- <div class="footerDiv">
	  <img src="assets/icon/earning.png" padding>
	  <img src="assets/icon/reports.png" padding>
	  <img src="assets/icon/postings.png" padding>
	  <img src="assets/icon/questiona.png" padding>
	  <img src="assets/icon/settings.png" padding>
	</div> -->
	
</ion-footer>
