
<ion-header>
  <ion-navbar color="headblue">
    <ion-title>Report</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="getstart" padding>
	<h5 style="font-weight: bold;color: black;font-size: 12px;">Account balance</h5>
	<ion-list>
		<ion-item no-lines>
			<ion-avatar item-start>
      				<img src="assets/icon/creditcard.png" item-start>
    			</ion-avatar>
    			<h2 style="font-weight: bold;">Credit Point Balance</h2>
			<p style="color: black;font-size: 12px;font-weight: 500;">Expiring on 19 Jul, 2018</p>
		</ion-item>
		<ion-col></ion-col>
		<ion-item no-lines>
			<ion-avatar item-start>
      				<img src="assets/icon/dollar-ttr.png" item-start>
    			</ion-avatar>
    			<h2 style="font-weight: bold;">Available Amount</h2>
			<p style="color: black;font-size: 12px;font-weight: 500;">Expiring on 19 Jul, 2018</p>
		</ion-item>
		<ion-col></ion-col>
		<ion-item no-lines>
			<ion-avatar item-start>
      				<img src="assets/icon/account-icon.png" item-start>
    			</ion-avatar>
    			<h2 style="font-weight: bold;">Last Bank Transfer</h2>
			<p style="color: black;font-size: 12px;font-weight: 500;">Expiring on 19 Jul, 2018</p>
		</ion-item>
		<ion-col></ion-col>
	</ion-list>
	<h5 style="font-weight: bold;color: black;font-size: 12px">Last Transaction</h5>
	<ion-list>
		<ion-item no-lines>
			<h6 item-start>Thomas George</h6>
			<p> 548483 12/11/2018  05</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>
		<ion-col></ion-col>
		<ion-item no-lines>
			<h6 item-start>Thomas George</h6>
			<p> 548483 12/11/2018  05</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>
		<ion-col></ion-col>
		<ion-item no-lines>
			<h6 item-start>Thomas George</h6>
			<p> 548483 12/11/2018  05</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>
		<ion-col></ion-col>
		<ion-item no-lines>
			<h6 item-start>Thomas George</h6>
			<p> 548483 12/11/2018  05</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>
