page-sign-up {
	// .getstart{
	// 	background-image: url('/assets/imgs/background.png');
	// 	background-repeat: no-repeat;
	// 	background-size:cover;
	// }
	.item-md{
		border-bottom-right-radius: 100px;
		border-bottom-left-radius: 100px;
		border-top-left-radius: 100px;
		border-top-right-radius: 100px;
	}
	.radiobtn{
		display: inline-flex;
	}
	.logDiv{
		position: relative;
		left: 70px;
	    	top: 10px;
	}
	.signuplabel{
		position: relative;
		left: 10px;
		top:25px;
	}
	
	.formDiv{
		position: relative;
		left: 5px;
	}
	
	.radDiv{
		position: relative;
		left: 8px;
	}	
	.item-sradio{
		position:relative;
		display:inline-flex;
		top:25px;
	}
	.item-tradio{
		position:relative;
		display:inline-flex;
		top:25px;
	}
	.labelDiv{
		position: relative;
		bottom: 14px;
		left: 20px;
	}
	.avatarDiv{
	    position: relative;
	    left: 20px;
	}
	.avatarLabel{
		position: relative;
		left: 10px;
	}
	.button.customBtn{
    		width:300px;
    		 background-color: #436fbb;
	}
	.col{

	}
	img{
		border-radius: 30px;
	}
	.v_buttonclik{
		border:1.5px solid #4c76be;
	}
	.n_button{
		border:none;
	}
}
