<ion-content class="getstart" padding>
	<div class="logDiv">
		<img src="assets/imgs/scoretify-logo.png">
	</div>
	<div class="signuplabel">
		<h6 style="font-size:1.2rem;font-weight: 100;">Signup As</h6>
	</div>
<form [formGroup]="registerform" (ngSubmit)="registerForm()" >
<div class="radDiv">
 <ion-row radio-group formControlName="role">
    <ion-col col-5 text-center>
	<div class="item-sradio">
	<ion-radio value="student" item-start></ion-radio>
	<div class="labelDiv">
        	<p>Student</p>
    	</div>
        
        </div>
    </ion-col>
    <ion-col col-5 text-center>
      	<div class="item-tradio">
	<ion-radio value="tutor" item-start></ion-radio>
		<div class="labelDiv">
       			<p>Tutor</p>
       		</div>
  	</div>
    </ion-col>
  </ion-row>
</div>
	<!-- <ion-list> -->
		<div class="formDiv">
		<ion-row>
		<ion-col col-12>
		<ion-item no-lines>
			<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
		</ion-item>
		<ion-col></ion-col>
	</ion-col>
</ion-row>
		<ion-row>
		<ion-col col-6>
			<ion-item no-lines>
				<ion-input type="text" placeholder="First Name" formControlName="name"></ion-input>
			</ion-item>
			</ion-col>
			<ion-col col-6>
			<ion-item no-lines>
				<ion-input type="text" placeholder="Last Name"></ion-input>
			</ion-item>
		</ion-col>
		</ion-row>
		<ion-col></ion-col>
		<ion-row>
		<ion-col col-12>
		<ion-item no-lines>
			<ion-input type="password" placeholder="Password" minlength="6" formControlName="password"></ion-input>
		</ion-item>
		<ion-col></ion-col>
		</ion-col>
		</ion-row>
		<ion-row>
		<ion-col col-12>
		<ion-item no-lines>
			<ion-input type="password" placeholder="Confirm password" minlength="6" formControlName="currency"></ion-input>
		</ion-item>
		<ion-col></ion-col>
	</ion-col>
</ion-row>
		<ion-row>
		<ion-col col-12>
		<ion-item no-lines>
			<ion-input type="tel" placeholder="Mobile"  maxlength="10" formControlName="mobile"></ion-input>
		</ion-item>
		<ion-col></ion-col>
	</ion-col>
</ion-row>
<ion-col></ion-col>
<ion-col></ion-col>
		<div class="avatarLabel">
			<h6 style="font-size:1.1rem;font-weight: 600;color:#6c757d">Choose an Avatar</h6>
		</div>
		<div radio-group class="avatarDiv">
		<button ion-fab-mini style="background-color:#ffffff;" ><img src="assets/imgs/Avatar-01.png" (click)="av1()" [ngClass]="avaImage"></button>
		<button ion-fab-mini style="background-color:#ffffff;"><img src="assets/imgs/Avatar-02.png" (click)="av2()" [ngClass]="avbImage"></button>
		<button ion-fab-mini style="background-color:#ffffff;"><img src="assets/imgs/Avatar-03.png" (click)="av3()" [ngClass]="avcImage"></button>
		<button ion-fab-mini style="background-color:#ffffff;"><img src="assets/imgs/camera-icon.png" (click)="cam()" [ngClass]="avdImage"></button>
		</div>
		<h5 style="text-align: center;font-size:1.2rem;font-weight: 100;color:#616161">I agree to Tutornomy <a style="color:#436fbb">terms & conditions</a></h5>
		<ion-row center>  
	 		<ion-col text-center col-12>   
				<button ion-button round type="submit" class="button button-dark customBtn">Sign up</button>
			 </ion-col> 
		</ion-row>
	<!-- </ion-list> -->
</div>
	</form>
</ion-content>
