
@font-face {
font-family: fontawesome;
font-weight: 300;
font-style: normal;
src: url('../assets/fonts/fontawesome-webfont.svg') format("svg"),
url('../assets/fonts/fontawesome-webfont.ttf') format("ttf"),
url('../assets/fonts/fontawesome-webfont.woff') format("woff"),
url('../assets/fonts/fontawesome-webfont.woff2') format("woff2"),
url('../assets/fonts/fontawesome-webfont.eot') format("eot"),
}

ion-app{
  font-family: "fontawesome", "Helvetica Neue", sans-serif, arial !important;
  // letter-spacing: 0.2px;
}
.segment-md .segment-button{
		color: #ffffff !important;
}
.getstart{
	background-image: url('../assets/imgs/back.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-postings"] {
    mask-image: url(../assets/icon/postings.png);
  }
  &[class*="custom-questiona"] {
    mask-image: url(../assets/icon/questiona.png);
  }
  &[class*="custom-reports"] {
    mask-image: url(../assets/icon/reports.png);
  }
   &[class*="custom-settings"] {
    mask-image: url(../assets/icon/settings.png);
  }
    &[class*="custom-earning"] {
    mask-image: url(../assets/icon/earning.png);
  }
      &[class*="custom-checked-white"] {
    mask-image: url(../assets/icon/checked-white.png);
  }
    &[class*="custom-profile"] {
    mask-image: url(../assets/icon/profile.png);
  }
   &[class*="custom-attach"] {
    mask-image: url(../assets/icon/attach.png);
  }
   &[class*="custom-Send-icon"] {
    mask-image: url(../assets/icon/Send-icon.png);
  }

}