page-confirm-post {
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	.button.customBtn{
    		width:150px;
	}
	.center{
		position: relative;
	    	text-align: center;
	}
	.item-md{
		border-bottom: 1px solid #e8e1e1;
	}
	.contentCard
	{
		position: relative;
		top: 20%;
	}
}
