
<ion-header>
  <ion-navbar color="headblue">
    <ion-title>Confirmation</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="getstart" padding>
	<div class="contentCard">
	<ion-card>
		<ion-list>
		<ion-item>
			<ion-avatar item-start>
				<img src="assets/imgs/Avatar-01.png">
			</ion-avatar>
			<h5 style="font-weight:500;color: black;">Physics</h5>
			<p style="font-size:12px;font-weight:500;color: black;">18/9/2018</p>
			<div class="enditem" item-end>
				<p style="font-size:12px;font-weight:500;color: black;">544485</p>
				<p style="font-size:12px;font-weight:500;color: black;">Lower Primary</p>
			</div>
		</ion-item>
		<ion-col></ion-col>
		<ion-item no-lines>
			<p style="font-size:12px;font-weight:500;color: black;text-align: center">Thank you for posting your query<br>
			One of our tutor will assist you soon.</p>
		</ion-item>
		<ion-col></ion-col>
		<ion-item no-lines>
			<ion-radio checked="true" item-start></ion-radio>
			<ion-label style="color:black;font-weight:500;font-size: 12px">Waiting for tutor acceptance</ion-label>
		</ion-item>
		</ion-list>
	</ion-card>
	<div class="center">
			<button ion-button outline color="danger" round class="button button-dark customBtn" (click)="dismissView()">Cancel Posting</button>
		</div>
	</div>
</ion-content>
