page-tutor-dashboard {
	.addqlabel{
		position: absolute;
		right: 20px;
		top: 80px;
		width: 100px;
	}
		
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	.segmentDiv{
		background-color: #4b7bcc;
	}
	.segment-md .segment-button{
		color: #ffff!important;
	}
	 ion-icon{
		    font-size: 1.8rem!important;
	}
	.footerDiv{
		position: relative;
		padding-left: 30px;	
	}
	.segment-ios .segment-button{
		color: #ffff!important;
	}
	.segment-md .segment-button{
		text-transform: none;
	}
	.icon{
		 display: inline-block;
		  vertical-align: middle;
		font-size: 1.4rem !important;
		color: #436fbb;
		font-weight:bold;
	}
	 .item-md ion-icon[item-end] {
		margin-left: 0;
		margin-top: 15px;
		margin-bottom:0px;
	}
	.item-md{
		border-radius: 5px;
		background-color: white;
	}
}
