
<ion-header>
	<ion-navbar color="headblue">
		<ion-title>Question</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="getstart" padding>
	<ion-list>
		<ion-item no-lines>
			<img src="assets/imgs/Avatar-03.png" item-start>
			<div item-start>
			<p>Thomas George</p>
			<p>08/28/2018 10:32</p>
			<p>Physics</p>
			</div>
			<div item-end>
			<p >545885</p>
			<p>Lower Primary</p>
			<p>Chapter 2</p>
			</div>
		</ion-item>
		<div class="dividerDiv"></div>
		<ion-item>
			<p>
				But I must explain to you how all this mistaken <br>
				idea of denouncing pleasure and praising pain<br>
				was born and I will give you a complete account <br>
				and expound the actual teachings of the great <br>
				the master-builder of human happiness.<br>
				No one rejects, dislikes, or avoids pleasure itself.
			</p>
		</ion-item>
		<ion-item no-lines>
			<ion-label item-start>Photos & Documents</ion-label>
		</ion-item>
		<ion-item>
			
			<ion-avatar item-start>
      				<img src="assets/imgs/final-step-illustration.png" item-start>
    			</ion-avatar>
    			<ion-avatar item-start>
      				<img src="assets/imgs/final-step-illustration.png" item-start>
    			</ion-avatar>
    			<ion-avatar item-start>
      				<img src="assets/imgs/final-step-illustration.png" item-start>
    			</ion-avatar>
		</ion-item>
	</ion-list>
	<div class="btndiv">
	<div class="closebtndiv">
		<button ion-button round outline color="danger">close</button>
	</div>
	<div class="acecptbtndiv">
		<button ion-button round>Accept</button>
	</div>
	</div>
</ion-content>
