page-tutor-question-screen {
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	.dividerDiv{
		border-bottom: 1px solid;
		border-bottom-color: #eee8e8;
	}
	.btndiv{
		display:inline-flex;
	}
	.acecptbtndiv{
		position: relative;
		left: 120px;
		.button-md{
			background-color: green;
		}
	}
	.closebtndiv{
		position: relative;
		left: 10px;
	}
}
