
<ion-header>
  <ion-navbar color="headblue">
    <ion-title>Confirmation</ion-title>
  </ion-navbar>
</ion-header>
	
<ion-content class="getstart" >
	<ion-card>
		<ion-list padding>
			<ion-item>
				<ion-avatar item-start>
					<img src="assets/imgs/Avatar-02.png">
				</ion-avatar>
				<p style="font-size: 10px;font-weight: 700;color: black;">Thomas george</p>
				<p style="font-size: 10px;font-weight: 700;color: black;">18/9/2018</p>
				<p style="font-size: 10px;font-weight: 700;color: black;">Physics</p>
				<p style="font-size: 10px;font-weight: 700;color: black;" item-end>Lower Primary</p>
				<p style="font-size: 10px;font-weight: 700;color: black;" item-end>Chapter2</p>
			</ion-item>
			<ion-item>
			<span style="font-size: 12px;font-weight: bold;color:#212529;line-height: 1.5;">Where does it come from Lorem Ipsum<br>
			 popular belief,  is not simply random text good color<br>
			It has roots in a piece of classical Latin have seems<br>
			making it over 2000 years old. Richard martin docks<br>
			a Latin professor at Hampden-Sydney of that<br>
			, discovered the undoubtable source large items</span>
			</ion-item>
			<h6 style="font-weight: bold;color: black;font-size: 12px;padding-left: 10px;">Photos & Documents</h6>
			<ion-item no-lines>
			<ion-avatar item-start>
				<img src="assets/imgs/final-step-illustration.png">
			</ion-avatar>
			<ion-avatar item-start>
				<img src="assets/imgs/final-step-illustration.png">
			</ion-avatar>
			<ion-avatar item-start>
				<img src="assets/imgs/final-step-illustration.png">
			</ion-avatar>
			<ion-avatar item-start>
				<img src="assets/imgs/final-step-illustration.png">
			</ion-avatar>
		</ion-item>	
		</ion-list>
	</ion-card>
	<!-- <div class="buttonsDiv"> -->
	<ion-row>
	<ion-col col-6 text-center>
	<div class="closebtn">
		<button ion-button small round outline color="danger" (click)="dismissView()">Close</button>
	</div>
	</ion-col>
	<ion-col col-6 text-center>
	<div class="accptbtn">
		<button ion-button small round color="secondary" (click)="acceptRequest()">Accept</button>
	</div>
	</ion-col>
</ion-row>
	<!-- </div> -->
</ion-content>
