page-tutor-accept {
		.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	.closebtn{
		position:relative;	
		text-align:center;
	}
	.accptbtn{
		 position: relative;
		 text-align:center;
	}
	.item-md{
		border-bottom: 1px solid #dfdfdf;
	}
	.card-md{
		border-radius: 6px;
	}

}
