
<ion-content class="getstart" padding>
	<div class="logoImg">
		<img src="assets/imgs/scoretify-logo.png">
	</div>
	
	<form [formGroup]="updatestudentform" (ngSubmit)="updateForm()" >
	<div class="formDiv">
	<h4 style="font-size: 12px;color: #616161;font-weight: bold">Enter Billing Address</h4>
	<ion-item no-lines class="formItem">
		<ion-input type="text" placeholder="Address" formControlName="address1"></ion-input>
	</ion-item>
	<ion-col></ion-col>
	<ion-item no-lines class="formItem">
		<ion-input type="text" placeholder="Street" formControlName="street"></ion-input>
	</ion-item>
	<ion-col></ion-col>
	<ion-row>
		<ion-col col-6>
			<ion-item no-lines class="formItem">
			<ion-input type="text" placeholder="city" formControlName="city"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col col-6>
			<ion-item no-lines class="formItem">
			<ion-input type="number" placeholder="Zip Code" formControlName="zip"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-col></ion-col>
	</div>
	<h4 style="font-size: 12px;color: #616161;font-weight: bold">Payment Method</h4>
	<ion-row>
	<ion-col col-12 text-center>
	<ion-item class="cardDiv" *ngFor="let payment of payment_method;let idx = index" (click)="selectPayment(payment)" [class.selected]="idx === currentSelected">
		<ion-icon name="custom-checked-white" item-end></ion-icon>
		<img src="{{payment?.pimage}}">
		<h5 [ngStyle]="{'color': card_white}" style="font-size: 10px;font-weight: bolder">{{payment?.title}}</h5>
	</ion-item>
	</ion-col>
	</ion-row>
	<ion-col col-3 text-center>
	<div class="saveBtn">
		<button ion-button round  type="submit" color="btnblue" class="button button-dark customBtn">Save & Proceed</button>
	</div>	
	</ion-col>
	</form>

</ion-content>
