page-billing-address {
	.formDiv{
	    position: relative;
	     top: 20px;
	}
   
	.logoImg
	{
		position: relative;
		top: 10px;
		left: 80px;
		width: 180px;
	}
	.item-md.formItem{
		background-color: #ffffff !important; 
		border-bottom-right-radius: 100px;
		border-bottom-left-radius: 100px;
		border-top-left-radius: 100px;
		border-top-right-radius: 100px;
	}
	h4{
		text-align: center;
	}
	.cardDiv{
		text-align:center;
		background-color:#ffff;
    	    	border: 1px solid #f0eaea;
    	    	margin-bottom: 10px;
	}
	.button.customBtn{
    		width:250px;
	}
	.saveBtn{
		position: relative;
    		// top: 30px;
	}
	ion-item:hover { 
		background-color: #436fbb !important; 
		h5{
			color:#ffffff !important;

		}
	}
	.icon{
		color: white;
		font-size: 1.8rem;
	}

}
