page-post-questions {
	// .getstart{
	// 	background-image: url('/assets/imgs/background.png');
	// 	background-repeat: no-repeat;
	// 	background-size:cover;
	// }
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	.subject_wrapper{
		background: transparent;
		padding: 10px 15px;
		margin-bottom: 10px;
		margin-top: 10px;
		// border-top: 1px solid #f1eddd;
    		// border-bottom: 1px solid #f1eddd;
	}
	.cardScroll {
		display: flex;
		overflow-x: scroll;
		margin-left: 0px;	
   	 }
   	 .buttonsDiv{
	  display:flex;
	}
	.buttonsDiva{
		display:flex;
	}
	.txt-area{
		background-color: #ffff;
		 border: 1px solid #dfdfdf;
		 font-weight: bold;
		font-size: 11px;
	}
	.attachDiv{
		display:inline-flex;
	}
	.camDiv{
		text-align:center;
		position:absolute;
		left:40px;
	}
	.docDiv{
		position:absolute;
		right:40px;
		text-align: center;
	}
	.submitDiv{
		position: relative;
		top:80px;
		// bottom: 20px;
		// left: 120px;	
	}
	.button-md{
		margin: 0rem 0rem;
		text-transform:none;
		    margin-right: 5px;
		// background-color: #ffffff;
	}
	.button.customBtn{
    		width:160px;
	}
	img{
		border-radius: 30px 30px 30px 30px;
		border: 1px solid;
	}
	.colorClass{
	   		background-color:#436fbb;
	   		color:#ffffff;
	}
	.coloraClass{
		background-color:#436fbb;
		color:#ffffff;
	}

}
