
<ion-header>
	<ion-navbar color="headblue">
		<ion-title>Post Question</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="getstart" padding>
    <div class="subject_wrapper"> 
        <h5 style=" font-size: 1.25rem;color:black;font-weight:bold">Select a Subject</h5>
        <div class="cardScroll">
           <div class="buttonsDiv" *ngFor="let subject of subjects?.rows;let i=index">
    <button ion-button [ngClass]="{'colorClass': subject.selected}"
    (click)="getSub(subject,i)" color="light">{{subject?.sDisplay}}</button>
<ion-row></ion-row>
</div>
        </div>
    </div>
        <div class="subject_wrapper"> 
        <h5 style=" font-size: 1.25rem;color:black;font-weight:bold">Select Academic level</h5>
        <div class="cardScroll">
            <div class="buttonsDiva" *ngFor="let academy of academics?.rows,let i=index">
            	<button ion-button [ngClass]="{'coloraClass': academy.selected}" (click)="getAcademic(academy,i)" class="scroll-item selectable-icon cat-button" color="light">{{academy?.gDisplay}}</button>
            </div>
        </div>
    </div>
<div class="txt-area">
    	<ion-textarea rows="8" maxLength="500" placeholder="Type your question here or attach a photo"  [(ngModel)]="note"></ion-textarea>
</div>
<ion-row>
        <ion-col col-6 text-right>
<!-- <div class="attachDiv"> -->
<div class="camDiv">
	<img src="assets/icon/camera-icon.png"><br>
    <p>Take photo</p>
</div>

</ion-col>
<ion-col col-6 text-right>
<div class="docDiv">
    <img src="assets/icon/document-icon.png">
    <p>Attach photo</p>
</div>

</ion-col>
</ion-row>
<!-- </div> -->
<ion-col text-center col-6> 
<div class="submitDiv">
	<button ion-button round color="btnblue" class="button button-dark customBtn" (click)="postQuestion()">Submit</button>
</div>
 </ion-col> 
</ion-content>

