page-account {
	// .getstart{
	// 	background-image: url('/assets/imgs/background.png');
	// 	background-repeat: no-repeat;
	// 	background-size:cover;
	// }
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	 ion-icon{
		    font-size: 2.4rem!important;
		    color:#064981;
	}
	.accBalance{
		position: relative;
		right: 50px;
	}
	.centerDiv{
		position: relative;
		text-align:center;
	}
	.item-md.formItem{
		border:1px solid #d7d2d2;
		background-color: #ffffff !important; 
	}
	.button.customBtn{
    		width:120px;
    		 background-color: #436fbb;
	}


}	
