
<ion-header>
  <ion-navbar color="headblue">
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="getstart" padding>
	<h5 style="font-weight: bold;font-size:12px;color: black;">Account Balance</h5>
	<ion-list>
		<ion-item no-lines (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
			<ion-row>
			<ion-col width-30>
				<img src="assets/icon/earning-active.png" item-start>
			</ion-col>
			<ion-col width-90 text-left>
			<div class="accBalance">
			<h4 item-start style="font-weight: bold;">$39.00<br></h4>
			<p item-start style="font-size:12px;font-weight:500;color: black;">Expiring on 19 jul,2018</p>
			</div>
			</ion-col>
			<ion-icon color="success" item-end [name]="isGroupShown(i) ? 'ios-arrow-up' : 'ios-arrow-forward-outline'"></ion-icon>
			</ion-row>
			<ion-item *ngIf="isGroupShown(i)">
			<div class="centerDiv">
				<button ion-button round  class="button button-dark customBtn">Top Up Credit</button>
			</div>
			</ion-item>
		</ion-item>
			
		<!-- <ion-col></ion-col>
		<h5 style="font-weight: bold;font-size:12px;color: black;">Current Credit Package</h5>
		<ion-item no-lines>
			<ion-row>
			<ion-col width-30>
				<img src="assets/icon/trial-package-icon.png" item-start>
			</ion-col>
			<ion-col width-90 text-left>
			<div class="accBalance">
			<h4 item-start style="font-weight: bold;">Trial Package<br></h4>
			<p item-start style="font-size:12px;font-weight:500;color: black;">20 Credits-$15</p>
			</div>
			</ion-col>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
			</ion-row>
		</ion-item> -->
		<ion-col></ion-col>
<h5 style="font-weight: bold;font-size:12px;color: black;">Billing Detail</h5>
		<ion-item no-lines (click)="toggleGroupA(i)" [ngClass]="{active: isGroupShownA(i)}">
			<ion-row>
			<ion-col width-30>
				<img src="assets/icon/receipt-icon.png" item-start>
			</ion-col>
			<ion-col width-90 text-left>
			<div class="accBalance">
			<h4 item-start style="font-weight: bold;">Kiran valsan<br></h4>
			<p item-start style="font-size:12px;font-weight:500;color: black;">ABC street GA,USA,12345</p>
			</div>
			</ion-col>
			<ion-icon color="success" item-end [name]="isGroupShownA(i) ? 'ios-arrow-up' : 'ios-arrow-forward-outline'"></ion-icon>
			</ion-row>
			<ion-item no-lines  *ngIf="isGroupShownA(i)">
			<div class="centerDiv">
				<!-- <div class="formDiv">	 -->
	<ion-item  class="formItem">
		<ion-input type="text" placeholder="Address" class="formItem"></ion-input>
	</ion-item>
	<ion-col></ion-col>
	<ion-item  class="formItem">
		<ion-input type="text" placeholder="Street" class="formItem"></ion-input>
	</ion-item>
	<ion-col></ion-col>
	<!-- <ion-row>
		<ion-col> -->
			<ion-item  class="formItem">
			<ion-input type="text" placeholder="city" class="formItem"></ion-input>
			</ion-item>
		<!-- </ion-col> -->
		<!-- <ion-co --><!-- l> -->
			<ion-col></ion-col>
			<ion-item class="formItem">
			<ion-input type="number" placeholder="Zip Code" class="formItem"></ion-input>
			</ion-item>
		<!-- </ion-col>
	</ion-row> -->
	<ion-col></ion-col>
			<div class="btnUpdate">
	<!-- </div> -->		<button ion-button round class="button button-dark customBtn">Update</button>
			</div>
			</div>
			
			</ion-item>

		</ion-item>
		<ion-col></ion-col>
	<h5 style="font-weight: bold;font-size:12px;color: black;">Transaction Detail</h5>
			<ion-item no-lines (click)="toggleGroupB(i)" [ngClass]="{active: isGroupShownB(i)}">
			<ion-row>
			<ion-col width-30>
				<img src="assets/icon/balance.png" item-start>
			</ion-col>
			<ion-col width-90 text-left>
			<div class="accBalance">
			<h4 item-start style="font-weight: bold;">$35.00<br></h4>
			<p item-start style="font-size:12px;font-weight:500;color: black;">01 jul,2018</p>
			</div>
			</ion-col>
			<ion-icon color="success" item-end [name]="isGroupShownB(i) ? 'ios-arrow-up' : 'ios-arrow-forward-outline'"></ion-icon>
			</ion-row>
			<ion-list no-lines  *ngIf="isGroupShownB(i)">
			<div class="centerDiv">
				<ion-item>
					<ion-row>
						<ion-col>
							<h5 style="font-size: 13px;font-weight: bold;color: black;">Amount</h5>
							<p style="color: black;font-size: 12px;font-weight: 500;">$39</p>
						</ion-col>

						<ion-col>
							<h5 style="font-size:13px;font-weight: bold; black;">Date&Time</h5>
							<p style="color: black;font-size: 12px;font-weight: 500;">1 jul 2018</p>
							<p style="color: black;font-size: 12px;font-weight: 500;">12:35</p>
						</ion-col>
						<ion-col>
							<h5 style="font-size: 13px;font-weight: bold;color: black;">Payment Type</h5>
							<p style="color: black;font-size: 12px;font-weight: 500;">Card Payment</p>
						</ion-col>
					</ion-row>
				</ion-item>
			</div>
			</ion-list>
		</ion-item>
	</ion-list>
</ion-content>
