page-tutor-account {
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	 ion-icon{
		    font-size: 2.4rem!important;
		    color:#064981;
	}
	.accBalance{
		position: relative;
		right: 50px;
	}
}
