
<ion-header>
  <ion-navbar color="headblue">
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="getstart" padding>
	<h5 style="font-weight: bold;font-size:12px;color: black;">Account Balance</h5>
	<ion-list>
		<ion-item no-lines>
			<ion-row>
			<ion-col width-30>
				<img src="assets/icon/earning-active.png" item-start>
			</ion-col>
			<ion-col width-90 text-left>
			<div class="accBalance">
			<h4 item-start style="font-weight: bold;">$39.00<br></h4>
			<p item-start style="font-size:12px;font-weight:500;color: black;">Expiring on 19 jul,2018</p>
			</div>
			</ion-col>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
			</ion-row>
		</ion-item>
			
		<!-- <ion-col></ion-col>
		<h5 style="font-weight: bold;font-size:12px;color: black;">Current Credit Package</h5>
		<ion-item no-lines>
			<ion-row>
			<ion-col width-30>
				<img src="assets/icon/trial-package-icon.png" item-start>
			</ion-col>
			<ion-col width-90 text-left>
			<div class="accBalance">
			<h4 item-start style="font-weight: bold;">Trial Package<br></h4>
			<p item-start style="font-size:12px;font-weight:500;color: black;">20 Credits-$15</p>
			</div>
			</ion-col>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
			</ion-row>
		</ion-item> -->
		<ion-col></ion-col>
<h5 style="font-weight: bold;font-size:12px;color: black;">Billing Detail</h5>
		<ion-item no-lines>
			<ion-row>
			<ion-col width-30>
				<img src="assets/icon/receipt-icon.png" item-start>
			</ion-col>
			<ion-col width-90 text-left>
			<div class="accBalance">
			<h4 item-start style="font-weight: bold;">Kiran valsan<br></h4>
			<p item-start style="font-size:12px;font-weight:500;color: black;">ABC street GA,USA,12345</p>
			</div>
			</ion-col>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
			</ion-row>
		</ion-item>
		<ion-col></ion-col>
	<h5 style="font-weight: bold;font-size:12px;color: black;">Transaction Detail</h5>
			<ion-item no-lines>
			<ion-row>
			<ion-col width-30>
				<img src="assets/icon/balance.png" item-start>
			</ion-col>
			<ion-col width-90 text-left>
			<div class="accBalance">
			<h4 item-start style="font-weight: bold;">$35.00<br></h4>
			<p item-start style="font-size:12px;font-weight:500;color: black;">01 jul,2018</p>
			</div>
			</ion-col>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
			</ion-row>
		</ion-item>
	</ion-list>
</ion-content>

