
<ion-header>
	<ion-navbar color="headblue">
		<ion-title>Settings</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="getstart" padding>
	<!-- <h5 style="font-weight: bold;font-size: 16px;">Profile</h5> -->
	<ion-list>
		<ion-row class="avatarDiv">
		<ion-col col-12>
			<!-- <ion-avatar> -->
      				<img src="{{user_data?.user?.picture}}">
      				<div class="nameDiv">{{user_data?.user?.name}}</div>
      				<!-- <img src="assets/icon/email-icon.png"> -->
    			<!-- </ion-avatar> -->
		</ion-col>
		</ion-row>
		<ion-item>
			<!-- <ion-avatar item-start> -->
				<img src="assets/icon/email-icon.png" item-start>
			<!-- </ion-avatar> -->
				<h2 >Email</h2>
				<p>{{user_data?.userId}}</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>
		<ion-item>
			<!-- <ion-avatar item-start> -->
				<img src="assets/icon/phone-icon.png" item-start>
			<!-- </ion-avatar> -->
			<h2 >Phone Number</h2>
			<p>{{user_data?.pMobile}}</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>

		<ion-item>
			<!-- <ion-avatar item-start> -->
				<img src="assets/icon/password-icon.png" item-start>
			<!-- </ion-avatar> -->
			<h2 >Password</h2>
			<p>Change your existing password</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>

		<ion-item>
			<!-- <ion-avatar item-start> -->
				<img src="assets/icon/location-icon.png" item-start>
			<!-- </ion-avatar> -->
			<h2 >Address</h2>
			<p>Street1,city,state</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>

		<ion-item>
			<!-- <ion-avatar item-start> -->
				<img src="assets/icon/academic-icon.png" item-start>
			<!-- </ion-avatar> -->
			<h2 >Academic Level</h2>
			<p>Upper Primary</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>
		<!-- <h6>User Management</h6> -->
		<ion-item>
			<!-- <ion-avatar item-start> -->
				<img src="assets/icon/feedback-icon.png" item-start>
			<!-- </ion-avatar> -->
			<h2 >Send Feedback</h2>
			<p>Let us know what you think</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>

		<!-- <ion-item> -->
			<!-- <ion-avatar item-start> -->
				<!-- <img src="assets/icon/clear-data-icon.png" item-start> -->
			<!-- </ion-avatar> -->
			<!-- <h2 >Clear App Data</h2>
			<p>Clear all data stored on device</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item> -->

		<!-- <ion-item> -->
			<!-- <ion-avatar item-start> -->
				<!-- <img src="assets/icon/notification-icon.png" item-start> -->
			<!-- </ion-avatar> -->
		<!-- 	<h2 >Notifications</h2>
			<p>Manage notification we send</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item> -->
		<!-- <h6>version and User Agreement</h6> -->
		<ion-item>
			<!-- <ion-avatar item-start> -->
				<img src="assets/icon/software-version-icon.png" item-start>
			<!-- </ion-avatar> -->
			<h2 >Version</h2>
			<p>2.1.6(215)</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>

		<!-- <ion-item> -->
			<!-- <ion-avatar item-start> -->
				<!-- <img src="assets/icon/eula-icon.png" item-start> -->
			<!-- </ion-avatar> -->
			<!-- <h2 >End User Agreement</h2>
			<p>Learn more about user agreement</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item> -->

		<ion-item>
			<!-- <ion-avatar item-start> -->
				<img src="assets/icon/notification-icon.png" item-start>
			<!-- </ion-avatar> -->
			<h2 >Log Out</h2>
			<p>Logout from your account</p>
			<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
		</ion-item>
	</ion-list>
	
</ion-content>
