page-profile-settings {
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	 ion-icon{
		    font-size: 1.8rem!important;
	}
	img{
		width: auto;
		margin: auto;
		display: block;
		border-radius: 25px 25px 25px 25px;
	}
	.nameDiv{
		text-align:center;
		    color: #436fbb;
		font-weight: bold;
		font-size: 14px;
		
	}
	.item-md h2{
		font-weight: bold;
		color:#212529;
	}
	.item-md p{
		color: black;
		font-size: 12px;
		font-weight: 500;

	}    
	h6{
		font-weight: bold;
		color: black;
		font-size: 16px;
	}
	
    
}
