page-tutor-profile-settings {
	.title.title-md {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: 70%;
		text-align: center;
	}
	.udateBtn{
		text-align:center;
		text-transform: none;
	}
	.oldPass{
		    border: 1px solid #dcd8d8;
	}
	.ion-ios-arrow-forward-outline:before{
		font-size: 1.8rem;
	}
	.button-md-headblue{
		text-transform:none;
	}
	.item-md{
		border-bottom:1px solid #dcd7d7;
	}
	
}
