<ion-header>
  <ion-navbar color="headblue">
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="getstart" padding>
	<h5 style="font-weight: bold;color: black;font-size: 16px;">Change Password</h5>
	<ion-card>
		<ion-list>
			<ion-col></ion-col>
			<ion-col></ion-col>
			<div class="oldPass">
				<ion-input type="password" placeholder="Old Password"></ion-input>
			</div>
			<ion-col></ion-col>
			<div class="oldPass">
			<ion-input type="password" placeholder="New Password"></ion-input>
			</div>
			<ion-col></ion-col>
			<div class="oldPass">
			<ion-input type="password" placeholder="Confirm Password"></ion-input>
			</div>
			<ion-col></ion-col>
			<div class="udateBtn">
				<button ion-button color="headblue">Update Password</button>
			</div>
		</ion-list>
	</ion-card>
	<h5 style="font-weight: bold;color: black;font-size: 16px;">Change Bank Details</h5>
	<ion-card>
		<ion-list>
			<ion-item>
				<ion-avatar item-start>
				<img src="assets/icon/name-icon.png" item-start>
				</ion-avatar>
				<!-- <button ion-item> -->
				<h2 style="font-weight: bold">Account Name</h2>
				<p style="color: black;font-size: 12px;font-weight: 500;">54988997777</p>
				<!-- </button> -->
				<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
			</ion-item>
			<ion-item>
				<ion-avatar item-start>
				<img src="assets/icon/account-icon.png" item-start>
				</ion-avatar>
				<!-- <button ion-item> -->
				<h2 style="font-weight: bold">Bank Name</h2>
				<p style="color: black;font-size: 12px;font-weight: 500;">City Name</p>
				<!-- </button> -->
				<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
			</ion-item>
			<ion-item>
				<ion-avatar item-start>
				<img src="assets/icon/account-no.png" item-start>
				</ion-avatar>
				<!-- <button ion-item> -->
				<h2 style="font-weight: bold">Account Number</h2>
				<p style="color: black;font-size: 12px;font-weight: 500;">54988997777</p>
				<!-- </button> -->
				<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
			</ion-item>
			<ion-item>
				<ion-avatar item-start>
				<img src="assets/icon/bank_routeId.png" item-start>
				</ion-avatar>
				<!-- <button ion-item> -->
				<h2 style="font-weight: bold">BankID/Routing No</h2>
				<p style="color: black;font-size: 12px;font-weight: 500;">54988997777</p>
					<!-- </button> -->
				<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
			</ion-item>
			<div class="udateBtn">
				<button ion-button color="headblue">Update Details</button>
			</div>
		</ion-list>
	</ion-card>
	<div class="udateBtn">
	<button ion-button color="headblue" full>Log Out</button>
	</div>
</ion-content>
